$defaultColor:#DE211D; // #DE211D  752BF7
$defalutFontColor:rgba(77, 79, 81, 1);
$borderColor:rgba(189, 189, 189, 1);
$c-warn:red;
$white:white;
$c-success:rgba(0, 182, 0, 1);
$footer-bg:#222731;
$black:#000;
$color_type1:#DFE1E5;
$color_type2:#404040;
$color_type3:#0A0A0A;
$color_type5:#E7E8EA;
$color_type4:$defaultColor;
// $color_type4:#00BB39;
$color_type6:#9DA2A9;
$color_type7:#F6F7FC;
$color_type8:#ffc107;
$color_type9:#060606; // #171629;
$banner_text_color:rgba(247, 248, 252, 1);
$wrapW: 1200px;
$homeW: 1400px;