@import "./_default";
@import "./_minix";
.swiper-slide {
    overflow: hidden;
}
.home-banner {
    background: #061027;
}
.home-banner-img {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: -20%;
    bottom: -20%;
    left: -20%;
    right: -20%;
    margin: auto;
}
.banner-wrap {
    position: relative;
    min-width: $wrapW;
}
.banner-desc {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: $homeW;
    height: 100%;
    margin: 0 auto;
    &::before {
        content:'';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
    div {
        display: inline-block;
        vertical-align: middle;
        .banner-title {
            position: relative;
            z-index: 2;
            @include font(28px, $white);
            span {
                font-size: 38px;
                margin-right: 10px;
            }
        }
        .sub-title {
            position: relative;
            z-index: 2;
            font-family: 'PingFangSC-Light';
            width: 500px;
            @include font(14px, $white, $lineH: 25px);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            margin-top: 25px;
            padding-top: 25px;
            text-transform: uppercase;
        }
    }
}

.ad {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 108px;
    font-size: 0;
    .pic {
        display: inline-block;
        width: 24%;
        height: 140px;
        overflow: hidden;
        margin-right: 1.3333%;
        &:last-of-type{
            margin-right: 0;
        }
        // overflow: hidden;
        img {
            width: 100%;
        }
    }
}
.banner-footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -1000px;
    right: -1000px;
    width: 200%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.1);
    font-size: 0;
    text-align: center;
    &>div {
        width:$homeW;
        margin: 0 auto;
    }
    .banner-footer-item {
        display: inline-block;
        width: 33.333%;
        padding: 18px;
        font-size: 16px;
    }
    p {
        @include font(24px, $banner_text_color);
    }
    span {
        @include font(14px, $banner_text_color);
    }
}